.App {
  text-align: center;
}

.navbar {
  background-color: #ff3f59;
}

div.navbar h1.header.item,
div.navbar a.ui.item {
  font-weight: 700;
  color: #fff;
}

div.navbar div.right a.ui.item:hover {
  background-color: #ffc5cd;
}

.home {
  background-color: #ffb830;
  color: #282750;
  width: 100%;
}

.home .image-container {
  display: inline-block;
  box-shadow: -1px 1px 14px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: -1px 1px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 1px 14px 0px rgba(0,0,0,0.75);
}

.home h1.ui.header {
  color: #05053d;
  margin-bottom: 3rem;
}

.home h1 + h3 {
  text-align: justify;
}

.home section {
  padding: 40px 0;
}
.home section:nth-child(1) {
  background-color: #ffb830;
}
.home section:nth-child(2) {
  background-color: #c47f00;
}
.home section:nth-child(3) {
  background-color: #ffb830;
}

.pages {
  margin-top: 3rem;
}

div.restaurant-list h2.ui.aligned {
  margin-bottom: 5rem;
}

div.restaurant-list .card .image {
  min-height: 300px;
}
div.home .card .image {
  min-height: 350px;
}

div.restaurant-list .card .content .meta {
  margin-top: 7px;
}

div.restaurant-list .card .extra.otvoreno {
  color: rgb(45, 146, 45);
}

div.restaurant-list .card .extra.zatvoreno {
  color: rgb(209, 71, 71);
}

div.restaurant-food-list h2.ui.aligned {
  margin-bottom: 3rem;
}

div.restaurant-food-list #food-image {
  background-size: cover;
  min-width: 40px;
  min-height: 30px;
}

div.restaurant-food-list .quantity {
  margin: 0 0 10px;
}

div.restaurant-food-list .vertical.button {
  background-color: #ffb830;
  padding: 15px 0;
}

div.restaurant-food-list .button-container {
  position: fixed;
  bottom: 15px;
  left: 0;
  right: 0;
  transition: all 0.5s ease;
}

div.restaurant-food-list .button-container.hide {
  bottom: -55px;
}

div.restaurant-food-list .button-container .visible i {
  margin: 0;
  padding: 0;
}

.App .center {
  text-align: center;
}

.no-order img {
  margin-right: 20px;
}

.no-order {
  max-width: 50%;
}

.current-order .card {
  max-width: 200px !important;
}

div.orders-page {
  text-align: left;
}

div.no-restaurant-items {
  text-align: left;
  max-width: 50%;
  width: 50%;
}


.center-item {
  display: flex;
  justify-content: center;
}

span.status {
  opacity: 0.7;
  text-transform: capitalize;
}

.status.active {
  color:rgb(45, 146, 45);
}

.status.pending {
  color: #c47f00;
}

.profile-form label {
  text-align: left;
}

.submit-button {
  display: flex;
  align-items: flex-end;
}

.ui.header > .icon + .content {
  text-align: left;
}

table.celled.table tr:hover {
  background-color: rgba(0,0,0,.05);
}

@media screen and (max-width: 800px) {
  .navbar .ui.secondary.menu {
    flex-direction: column;
  }
  .ui.menu:not(.vertical) .right.item, 
  .ui.menu:not(.vertical) .right.menu {
    overflow-x: auto;
    width: 100%;
  }

  .no-order {
    max-width: 100%;
  }
  div.no-restaurant-items {
    max-width: 100%;
    width: 100%;
  }
  /* .current-order {
    display: flex;
    flex-direction: column;
  }

  .current-order .main {
    width: 100%;
  }

  .current-order .side {
    width: 100%;
  } */
}